body {
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    background-color: #fff;
    margin: 0;
    text-align: center;
}

.content {
    margin: 10;
    padding: 2rem 0 3rem;
    background-color: #fff;
}

.DT_TITLE {
    border-bottom: 2px solid #800000;
    padding: 0;
    margin: 0 0 1rem 0;
    font-weight: bold;
    font-size: 1.8rem;
    margin: 0 0 0 1.875rem;
    padding: 0 0 0.75rem;
    display: block;
    margin: 0.5rem 0;
    color: #000;
}

.DT_TITLE:after {
    border-bottom: 2px solid #DDDDDD;
}

.main-content {
    padding: 0 1.875rem;
    text-align: left;

}

#status {
    display: none;
    visibility: hidden;
}

.DT_CONTENT {
    display: block;
    margin: 1rem 0;
    font-size: larger;
    font-style: oblique;
}

.DT_RADIOBUTTON {
    margin: 0.25rem 0;
}

.DT_LABEL {
    padding-left: 0.5rem;
}

.DT_BUTTON {
    border: 1px solid #800000;
    box-sizing: border-box;
    border-radius: 100px;
    padding: 0.5rem 1rem;
    margin: 8rem 1rem 0 0;
}

.DT_NEXT {
    background-color: #800000;
    color: #ffffff;
    font-size: 100%;
    font-weight: 100;
}

.DT_PREVIOUS {
    background: #00758e;
    color: #ffffff;
    font-size: 100%;
    font-weight: 100;
}

.DT_SUMMARY {
    background-size: contain;
    background-color: #556B2F;
    color: #ffffff;
    font-size: 100%;
    font-weight: 100;
}

.DT_ACTION {
    background: #ffffff;
    color: #800000;
    font-size: 100%;
    font-weight: 100;
}

.DT_SUMMARYLINE {
    padding: 1rem;
    font-size: 100%;
    font-weight: 100;
}

.DT_QUESTION {
    float: left;
    color: #000;
    font-size: 100%;
    font-weight: 100;
}

.DT_ANSWER {
    padding: 50;
    color: #000;

}

@media only screen and (min-width: 660px) {
    body {
        background-color: 	#333;
        margin: 40;
    }

    .content {
        width: 900px;
        height: 600px;
        max-width: 600px;
        background-color: #FF8C00;
        margin: 0 auto;
    }

    .main-content {
        padding: 0 1.875rem;
    } 
}
