body {
    background-color: #808080;
    /* Gray background */
    font-family: Arial, sans-serif;
    /* Default font */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    text-align: center;
    padding: 20px 0;
}

.main-title {
    color: #ff9900;
    /* Suitable color for Genetic Algorithm */
}

.header-content {
    display: flex;
    align-items: flex-start;
    /* Align items to the top */
}

.left-header {
    flex: 1;
    text-align: center;
    margin-right: 20px;
    /* Adjust margin as needed */
}

.right-header {
    flex: 1;
    /*text-align: right;*/
    margin-top: 200px;
}

#tspCanvas {
    background-color: #1496b5cf;
    /* Special background color for the box */
    border: 2px solid #333;
    /* Border */
    outline: 2px solid #ccc;
    /* Outline */
    width: 128%;
    /* Make canvas fill its  100% */
    height: 600px;
    /* Increase height */
    margin-top: 36px;
    /* Move down */
}

.number-of-cities {
    margin-bottom: 20px;
}

.number-of-cities label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
}

input[type="number"] {
    width: 100px;
    /* Increased width */
    padding: 10px;
    /* Increased padding */
    margin-bottom: 10px;
    /* Adjust margin as needed */
}

button {
    padding: 10px 20px;
    background-color: #ff9900;
    /* Button color */
    color: #fff;
    /* Text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

button:hover {
    background-color: #e68a00;
    /* Darker color on hover */
}

/* @keyframes 
@media 
    
*/
@keyframes example {
    0% {
        background-color: red;
    }

    25% {
        background-color: yellow;
    }

    50% {
        background-color: blue;
    }

    75% {
        background-color: green;
    }

    100% {
        background-color: red;
    }
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .container {
        max-width: 90%;
    }

    .right-header {
        margin-top: 100px;
    }
}

@media screen and (max-width: 480px) {
    .container {
        padding: 10px;
    }
}