canvas {
    border: 5px solid red;
}

div {
    margin: 20px;
    padding: 10px 20px;
    border: 5px solid grey;
}

body {
    background-color: #f0f0f0;
    /* Light gray background */
}

.div1 {
    background-color: #736c6c;
    ;
    /* White background for the main div */
    margin: 20px;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 5px;
}

h1 {
    color: orange;
    /* Orange color for the h1 heading */
}

canvas {
    border: 5px solid rgba(255, 0, 0, 0.582);
    background-color: white;
    /* White background for the canvas */
}

/* @keyframes 
@media 
    
*/
@keyframes example {
    0% {
        background-color: red;
    }

    25% {
        background-color: yellow;
    }

    50% {
        background-color: blue;
    }

    75% {
        background-color: green;
    }

    100% {
        background-color: red;
    }
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .container {
        max-width: 90%;
    }

    .right-header {
        margin-top: 100px;
    }
}

@media screen and (max-width: 480px) {
    .container {
        padding: 10px;
    }
}